@page "/Kunden/Details/{KundeID}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h1>@ViewData["Title"]</h1>

<p>
<h3>@Model.Title</br>
        @Model.Vorname</br>
        @Model.Nachname</br>
        @Model.Firmenname</br>
        @Model.Adresse</br>
        @Model.Postleizahl</br>
        @Model.Telefonnummer</br>
        @Model.Email</br>
        @Model.Umsatzsteuernummer</br>
        @Model.PreisKategorie</br></h3>
</p>

</br></br></br>

<form method="post" asp-page-handler="/Kunde/Details">
    <div class="mb-3">
        <button type="submit" class="btn btn-outline-danger">Profil Löschen</button>
    </div>
</form>


